.wd-small-image {
    border-radius: 50%;
    height: 29px;
    width: 33px;
}

.wd-small-font {
    font-size: 10px;
}

.wd-search-icon {
    background-color: white;
    border-radius: 40px;
}
.wd-search-bar {
    border-radius: 40px;
}

.wd-image {
    height: 100px;
    width: 100px;
}
